#mesaJogo{
   border: black solid 1px;
   width: 700px;
   height: 300px;
   position: relative;  
   overflow: hidden;
   background-color: #000;
}
#ball{
    background-color: darkorange;
    width: 20px;
    height:20px;
    border-radius: 20px;
    position: absolute;
    left: 350px;
    top: 150px;
    transform: translate(-50%,-50%);
}
.forma{
    width: 15px;
    height: 70px;
    position: absolute;
    border-radius: 10px;
    border: solid 1px blue;
    background-color: blue;
    top: 100px;
}
#jogador1{
   left: 4px;

}
#jogador2{
    left: 680px;
}
